@{

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section class="become_a_instructor">
    <div class="container" ng-app="EnrollmentApp" ng-controller="EnrollmentController">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="apply_instructor">
                    <div class="form_title">
                        <h3>Enroll</h3>
                    </div>
                    <form action="#">
                        <div class="row">

                            <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label class="control-label">Students</label>

                                    <select ng-model="enrollment.StudentId" ng-disabled="!enrollment"
                                            class="input-sm form-control">
                                        @foreach (Magni.Core.Dto.StudentListDto item in @ViewBag.Students)
                                        {
                                            <option value="@item.Id" class="form-control" id="inputEmail" placeholder="Student Id">@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label class="control-label">Subjects</label>

                                    <select ng-model="enrollment.SubjectId" ng-disabled="!enrollment"
                                            class="input-sm form-control">
                                        @foreach (Magni.Core.Dto.SubjectListDto item in @ViewBag.Subjects)
                                        {
                                            <option value="@item.Id" class="form-control" id="inputEmail" placeholder="Subject Id">@item.Title</option>
                                        }
                                    </select>
                                </div>
                            </div>


                            
                            <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                                <input type="button" id="btnSave" class="form-control btn-space" value="Submit" ng-click="CreateEnrollment()" />
                            </div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Become A Instructor -->



<!--<!DOCTYPE html>



<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <title>Course List</title>

    <style>

        .tableData {
            border-left: solid 1px #D8C3C3;
            border-top: solid 1px #D8C3C3;
        }



            .tableData tr {
            }



            .tableData td, .tableData th {
                border-right: solid 1px #D8C3C3;
                border-bottom: solid 1px #D8C3C3;
                text-align: left;
                padding: 5px;
            }



            .tableData td {
            }



            .tableData th {
                background-color: #FAFAFA;
                padding: 7px 5px;
                border-bottom-color: #9C9C9C;
            }



        .odd {
            background-color: #f3f3f3;
        }



        .even {
            background-color: #ffffff;
        }
    </style>



</head>

<body ng-app="CourseApp">

    <div ng-controller="CourseController" ng-init="CourseList()">

        <table class="tableData">

            <tr>

                <th>Course Name</th>

                <th>Date Created</th>

                <th>Actions</th>

            </tr>

            <tr ng-repeat="e in record" ng-class-even="'even'" ng-class-odd="'odd'">

                <td>{{e.CourseName}}</td>

                <td>{{e.DateCreated}}</td>-->
@*<td><a href="/Home/update_data?id={{e.Sr_no}}">Update</a></td>

    <td><a ng-click="deleterecord(e.Sr_no)">Delete</a></td>*@

<!--</tr>

        </table>

    </div>

    <script src="~/Scripts/angular.min.js"></script>

    <script src="~/Scripts/AngularCode/Controller/CourseController.js"></script>

</body>

</html>-->
